@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#e66465, #9198e5);
  height: 100vh;
  overflow: hidden;
}

.heading {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.heading h1 {
  margin: 1rem 0;
  color: #90ee90;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 0 1rem;
  width: 70%;
}

.scores {
  flex: 1 1 15rem;
}

.scores .title-scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #90ee90;
}

.scores .title-scores .r-scores {
  font-size: 2rem;
}

.scores .title-scores .refresh {
  height: 3vh;
  background-color: #fff;
  border: #90ee90;
  box-shadow: 0.2rem 0.3rem 0.2rem #90ee90;
}

.scores .title-scores .refresh:hover {
  background-color: #90ee90;
  box-shadow: 0.2rem 0.3rem 0.2rem #fff;
}

.scores-list {
  list-style: none;
  border: 3px solid #90ee90;
  height: 50vh;
  width: 50%;
  overflow-y: scroll;
  margin-top: 0;
  padding-left: 0;
}

.scores-list .scoreBoard {
  height: 5vh;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  text-transform: capitalize;
}

.scores-list .scoreBoard:nth-child(even) {
  background-color: #d3d3d3;
}

.input-scores {
  flex: 1 1 15rem;
}

.input-scores h2 {
  color: #90ee90;
  font-size: 2rem;
}

.input-scores .inputBox {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-scores .inputBox input {
  height: 4vh;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}

.name:focus,
.n-score:focus {
  background-color: #d3d3d3;
}

.submit-btn {
  display: flex;
  justify-content: end;
}

.submit {
  width: 27%;
  height: 3vh;
  box-shadow: 0.2rem 0.3rem 0.2rem #90ee90;
  border: #90ee90;
}

.submit:hover {
  background-color: #90ee90;
  box-shadow: 0.2rem 0.3rem 0.2rem #fff;
}

@media (max-width: 999px) {
  .content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .content {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .heading {
    font-size: 1rem;
  }

  .content {
    width: 90%;
  }
}
